.state-border {
  fill: #e7e7e7;
  stroke: #424242;
  stroke-width: 1px;
}

.point {
  fill:#961D4e;
  opacity: 0.6;
}

.point:hover {
  fill: #ffd166;
  opacity: 1;
  stroke: #ffd166;
  stroke-width: 5px;
}

#tooltip {
  position: absolute;
  width: 200px;
  background-color: #ffd166;
  pointer-events: none;
  stroke: black;
}

#tooltip p {
  margin: 0;
  font-size: 12px;
}

#tooltip.hidden {
  display: none;
}